<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="sv"/>
    <title>Demokratiappen - Web - BETA</title>

    <meta name="description" content="Demokratiappen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/nvd3/src/nv.d3.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/demokratiappen.css -->
    <link rel="stylesheet" href="styles/demokratiappen.css">
    <!-- endbuild -->

    <!-- External script dependencies -->
    <script type="text/javascript" src="https://www.parsecdn.com/js/parse-1.2.18.min.js"></script>
  </head>
  <body ng-app="democracyApp">
    <!-- Initialize Parse - FaceBook -->
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        Parse.FacebookUtils.init({
          appId      : '571438726296715', // Facebook App ID
          status     : false, // check login status
          cookie     : true,  // cookies allow Parse to access the session
          xfbml      : false  // parse XFBML
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div data-ng-controller="MainController" ng-cloak class="container">
      <div class=row">
        <div class="col-xs-12">
          <h1>Demokratiappen</h1>
          <div ng-show="loginService.stateLoggedIn == loginService.LOGGED_IN">
            <i ng-if="loginService.stateLoggedIn == 0"><a href="#/userSettings">{{loginService.username}}</a></i>
            <span id="logout"><a ng-click="loginService.logout();" href="#">Logga ut</a></span>
          </div>
        </div>
      </div>

      <div ng-view></div>
    </div>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/nv.d3.js"></script>
    <script src="bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- Scripts that make up our application -->
    <!-- start script template tags -->
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers/accumulatedtags.js"></script>
<script type="text/javascript" src="js/controllers/addpage.js"></script>
<script type="text/javascript" src="js/controllers/listcollections.js"></script>
<script type="text/javascript" src="js/controllers/listpages.js"></script>
<script type="text/javascript" src="js/controllers/listtags.js"></script>
<script type="text/javascript" src="js/controllers/login.js"></script>
<script type="text/javascript" src="js/controllers/main.js"></script>
<script type="text/javascript" src="js/controllers/party.js"></script>
<script type="text/javascript" src="js/controllers/tagsperdate.js"></script>
<script type="text/javascript" src="js/controllers/topic.js"></script>
<script type="text/javascript" src="js/controllers/userSettings.js"></script>
<script type="text/javascript" src="js/dataprojection.js"></script>
<script type="text/javascript" src="js/initialize_parse.js"></script>
<script type="text/javascript" src="js/services.js"></script>
<!-- end script template tags -->
  </body>
</html>
